{{- $base := "https://nextoz.github.io/karpov-blog" -}}
{{- $path := .RelPermalink -}}

{{- $daPath := $path -}}
{{- $enPath := $path -}}

{{- if hasPrefix $path "/en/" -}}
  {{- $daPath = replace $path "/en/" "/" -}}
  {{- $enPath = $path -}}
{{- else -}}
  {{- $daPath = $path -}}
  {{- $enPath = printf "/en%s" $path -}}
{{- end -}}

{{- if or (eq $path "/projekter/") (eq $path "/en/projects/") -}}
  {{- $daPath = "/projekter/" -}}
  {{- $enPath = "/en/projects/" -}}
{{- end -}}

{{- if or (eq $path "/om/") (eq $path "/en/about/") -}}
  {{- $daPath = "/om/" -}}
  {{- $enPath = "/en/about/" -}}
{{- end -}}

<link rel="alternate" hreflang="da" href="{{ $base }}{{ $daPath }}">
<link rel="alternate" hreflang="en" href="{{ $base }}{{ $enPath }}">
<link rel="alternate" hreflang="x-default" href="{{ $base }}{{ $daPath }}">
